
body {
  font-family: "Montserrat";
  text-align: center;
  padding: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  color: black;
}
 /* #hedimg {
   background-image: url("https://www.sololearn.com/Uploads/header.jpg");
    background-size: cover; */
}
 }
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  /* background-image: url("https://img-a.udemycdn.com/notices/featured_banner/image_udlite/1999ee6d-47cd-42f2-baca-747713a0228b.jpg?ZKYYtMMY22PK0yWMXOa0KI-T74VeMC8DNKtJTv7Fe8RRpJnhsmIqnxOIyCAEK_a8nXybYsbClER45S8Y0Pgq36uJM0E_78iR75K_oi_9Ea-Js7X3DXX1m85vGTVNwzh3dulinc1OoV691HDNCr-QD0IyyW-stIBkLp660kAj_mWkYgjaED-06Ob1rxo"); */
   background-size: cover;
   background-color: grey;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  /* background-color: white; */
  /* background-image: url("https://www.sololearn.com/Uploads/header.jpg"); */
  background-image: url("https://img-a.udemycdn.com/notices/featured_banner/image_udlite/1999ee6d-47cd-42f2-baca-747713a0228b.jpg?ZKYYtMMY22PK0yWMXOa0KI-T74VeMC8DNKtJTv7Fe8RRpJnhsmIqnxOIyCAEK_a8nXybYsbClER45S8Y0Pgq36uJM0E_78iR75K_oi_9Ea-Js7X3DXX1m85vGTVNwzh3dulinc1OoV691HDNCr-QD0IyyW-stIBkLp660kAj_mWkYgjaED-06Ob1rxo");

   background-size: cover;
  color: Black;
  /* bottom: 0; */

  text-align: left;
}

#title .container-fluid {
  padding: 1% 5% 2% 5%;
}

.bt {
  padding: 1% 30%;
  margin-left: 30%;
  margin-right: 10%
}

/* Title Image */
.side {
  padding: 0;
  bottom: 0;
}

.title-image {
  width: 70%;
padding: 30px 40px 0px 20px;
  height: 300px;
   width: 300px;
   /* display: flex;
   align-items: flex-end; */
  z-index: 1;
}

.in1 {
  border-radius: 25px;
   border: 2px solid #609;
   padding: 20px;
   width: 200px;
   height: 15px;
}
.why {
  font-size: 2rem;
  background-color: #cdd0cb;
  text-align: center;

  margin-top: 120px;
  padding: 50px;
  line-height: 1;
}
.e {
  color: #0e49b5;
}

.s1{
  color: #ff8e71;
}
/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}





.explore {
  background-color: #bedcfa;
  padding: 20px;
  margin: 30px;
}

.exp-row {
  width: 50%;
  margin: auto;
  margin: 100px auto 100px auto;
  text-align: left;
  position: relative;
}

.SK1 {
  width: 40%;
  float: left;
  margin-right: 30px;
  filter: drop-shadow(0px 10px 3px black);
  border-radius: 15%;

}

.SK2 {
  width: 40%;
  float: right;
  margin-left: 30px;
  filter: drop-shadow(0px 10px 3px black);
  border-radius: 15%;

}

.SK3 {
  width: 40%;
  float: left;
  margin-right: 30px;
  filter: drop-shadow(0px 10px 3px black);
  border-radius: 15%;

}

.SK4 {
  width: 40%;
  float: right;
  margin-left: 30px;
  filter: drop-shadow(0px 10px 3px black);
  border-radius: 15%;
}

#testimonials {
  background-color: #cdd0cb;
  padding: 30px;

}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
